<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/headtag%>
    <% include partials/index%>
</head>
<body ng-app="webapp">
<% include partials/header%>
<main class="container">	
<div ng-view></div>
</main>
<% include partials/footer.ejs%>
</body>
</html>
